{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                <p>published: 14.06.2014, 12:14</p>
            </div>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste a sit, dolores, natus sint
                itaque laborum repellendus eum esse impedit at. Dolorum vel distinctio quaerat expedita labore
                maiores necessitatibus.
                Tempore recusandae doloremque minima dolorem aut cupiditate facere dolor tempora temporibus
                iusto natus dicta iure, iste vitae, et quaerat id quo distinctio laboriosam ducimus numquam
                ipsam soluta. Iste, nesciunt necessitatibus.
                Dolore modi ab minus nam! Temporibus a quo eaque cupiditate nostrum delectus earum magnam amet,
                ut asperiores ullam, sunt aliquid reprehenderit? Nesciunt pariatur architecto, delectus quaerat
                repellendus cupiditate corrupti facere.
                Aliquam, vitae praesentium. Autem illo quae nesciunt. Asperiores iusto, alias quam delectus
                commodi fuga aliquid, atque, dignissimos accusantium totam officia animi voluptates autem quasi
                facere quae incidunt vel. Expedita, deleniti!
                Molestias deleniti fugit, explicabo necessitatibus possimus animi quasi error quos ducimus quas
                maiores facilis ut! Omnis, sapiente possimus. Quo fugit animi id provident in harum libero ad
                quod, reprehenderit maxime.
            </p>
        </div>
    {% endfor %}
{% endblock %}